<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=H, initial-scale=1.0" />
    <title>Document</title>

    <!-- 'app.js'에서 정적인 파일은 public 폴더를 참조하라고 미리 알려줬음 -->
    <link href="/public/main.css" rel="stylesheet" />
  </head>
  <body>
    <h1>메인 페이지</h1>
  </body>
</html>
